$color-black: #000;
$color-white: #fff;
$color-light-grey: #9197B3;
$color-scrollbar-thumb-grey: #777;
$color-white: #fff;
$color-light-green: #00B087;
$color-red: #DF0404;
$color-purple: #5932EA;
$color-devider-line: #EEEEEE;
$font-Poppins: 'Poppins', sans-serif;